.perfume-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.products-container {
  margin-top: 20px;
  background-color: azure;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.cart-container {
  background-color: burlywood;
}
.style-btn {
  background-color: bisque;
  color: darkgreen;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 8px;
}
.setColor {
  color: blue;
}

@media screen and (max-width: 688px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
    overflow-x: hidden;
  }
  .perfume-container {
    grid-template-columns: 3fr;
    padding-bottom: 20px;
  }
  .style-btn {
    margin-bottom: 20px;
  }
}
